/* baie-header Start */

.baie-header
{
    background: #fff;
}

@media only screen and (max-width:767px)
{
    .baie-header
    {
        display: none;
    }
}

.baie-header .baie-header__box
{
    position: relative;
    z-index: 10;

    padding: .15rem 0;

    background: #fff;
}



.baie-header .baie-header__box .baie-header__center .logo
{
    float: left;
}

.baie-header .baie-header__box .baie-header__center .logo a
{
    display: block;

    width: 1.91rem;
    height: .64rem;

    background: url(/assets/images/logo.png) 50% 50%;
}

.baie-header .baie-header__box .baie-header__center nav ul.baie-header__nav
{
    float: right;

    width: 3.2rem;
}

.baie-header .baie-header__box .baie-header__center nav ul.baie-header__nav > li
{
    float: right;

    margin-right: .2rem;
}

.baie-header .baie-header__box .baie-header__center nav ul.baie-header__nav > li a
{
    font-size: .16rem;

    display: block;

    min-width: .4rem;
    padding-top: .34rem;

    text-align: center;

    color: #161616;
}


/* baie-header End */


/* baie-footer Start*/

.baie-footer
{
    padding: .12rem 0;

    text-align: center;

    color: #8e8e8e;
}

.baie-footer .copy-right
{
    font-size: .12rem;

    margin: .05rem 0 .03rem 0;
}

.baie-footer .copy-right .phone-block
{
    margin-right: .12rem;
}
.baie-footer .copy-right .phone-block .baie-hidden_sm
{
    display: none;
}
@media only screen and (min-width:767px)
{
    .baie-footer .copy-right .phone-block
    {
        display: inline-block;
    }
}
/* baie-footer End*/


/* baie-user Start */
.baie-user
{
    position: relative;

    padding: 44px 13px 11px 13px;

    background: url(//static.yoro.com/res/d420720c8be741c785d45cd0f0f24627) no-repeat 0 0;
}

.baie-user .baie-user__func
{
    position: absolute;
    top: 16px;
    right: 16px;
}
.baie-user .baie-user__func > a
{
    font-size: 22px;

    color: #fff;
}
.baie-user .baie-user__func > a + a
{
    margin-left: .15rem;
}
.baie-user__info .baie-user_box
{
    position: relative;
}
.baie-user__info .baie-user_box .baie-user_pic
{
    display: inline-block;

    padding: .04rem 0 0 .13rem;
}
.baie-user__info .baie-user_box .baie-user_pic span
{
    display: block;
    overflow: hidden;

    width: 66px;
    height: 66px;

    border: 2px solid #f69059;
    border-radius: 66px;
}
.baie-user__info .baie-user_box .baie-user_pic > span img
{
    width: 100%;
}
.baie-user__info .baie-user_box > span
{
    font-size: .16rem;

    position: absolute;
    top: 50%;
    left: 90px;

    margin-top: -11px;
    margin-bottom: 8px;

    color: #fff;
}
.baie-user__info .baie-user_box > span em
{
    font-size: 16px;

    float: left;
}
.baie-user__info .baie-user_box > span a
{
    font-size: 12px;
    line-height: 20px;

    float: left;

    width: 20px;
    height: 20px;
    margin-left: 8px;

    text-align: center;

    color: #ea5503;
    background-image: url(/assets/images/rank_repeat.png);
    background-repeat: no-repeat;
    background-size: 20px;
}
/* baie-user End */


/* baie-order Start */

.baie-order .baie-flex
{
    background: #fff;
}
.baie-order .baie-flex .baie-flex__item
{
    position: relative;
}
.baie-order .baie-flex .baie-flex__item + .baie-flex__item:before
{
    position: absolute;
    top: 29%;

    display: block;

    width: 1px;
    height: 45%;

    content: '';

    background: #ddd;
}
.baie-order .baie-flex .baie-flex__item > a
{
    font-size: .3rem;

    display: block;

    height: 44px;
    padding: 12px 0;

    text-align: center;

    color: #000;
}
/* baie-order End */


/* baie-property Start */
.baie-property
{
    background: #fff;
    margin-top: 12px;
    padding: 0 .3rem;
}
.baie-property .baie-property__hd {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e4e4e4;
}
.baie-property .baie-property__hd >a {
    padding: .2rem 0;
}
.baie-property .baie-property__hd a .icon-myasset {
    color: #ffc74e;
    margin-right: 12px;
}
.baie-property .baie-flex.mine-store {
    padding: 0 .3rem;
}
.baie-flex .baie-flex__item > a {
    display: block;
    text-align: center;
    padding: 10px 0;
}
.baie-property .baie-flex .baie-flex__item a em,
.baie-property .baie-flex .baie-flex__item a span
{
    display: block;
}
.baie-property .baie-flex .baie-flex__item a em {
    font-size: .333333rem;
    color: #000;
}
.baie-property .baie-flex .baie-flex__item a span {
    margin-top: 2px;
    color: #838383;
}
/* baie-property End */
