.baie-setting .baie-headbar
{
    color: #fff;
    background-color: #000;
}

.baie-setting .baie-avator
{
    width: 1rem;
    height: 1rem;
}

.baie-setting .baie-avator img
{
    width: 100%;
}

.baie-setting.foot
{
    margin-top: .32rem;
    margin-bottom: .6rem;
    padding: 0 .24rem;
}

.baie-cells .baie-cell.ptb-0
{
    padding-top: 0;
    padding-bottom: 0;
}

.warning
{
    font-size: .28rem;

    padding: .14rem;

    color: #ea5404;
    background-color: #ffefc9;
}

/* 设置 start */
/* 弹出框 start */
.baie-setting .baie-dialog__title,
.baie-setting .baie-dialog__bd
{
    text-align: left;
}

.baie-setting .baie-dialog__title
{
    padding: .2rem .4rem;

    color: #666;
    background-color: #f3f3f3;
}

.baie-setting .baie-dialog__bd > p
{
    margin-top: .1rem;
    margin-bottom: .1rem;
}

.baie-setting .baie-dialog__bd .hint
{
    font-size: .28rem;
}

.baie-setting .baie-dialog__bd > p:first-child
{
    color: #ea5404;
}

.baie-setting .baie-dialog__bd > input
{
    font-size: .28rem;

    width: 100%;
    padding: .1rem;

    border: 1px solid #e4e4e4;
}
/* 弹出框 end */
/* 设置 end */


/* 设置--修改手机号 start */
.baie-cells.baie-hd_width .baie-cell .baie-cell__hd
{
    width: 1.5rem;
}
/* 设置--修改手机号 end */

/* 设置--管理收获地址 start */
.baie-address .address-detail
{
    font-size: .28rem;

    margin-top: .3rem;
    padding: .3rem .3rem 0;

    background-color: #fff;
}

.baie-address .address-detail dl > dd
{
    margin-top: .1rem;
}

.baie-address .address-detail .name
{
    font-weight: bold;

    margin-right: .3rem;
}

.baie-address .address-detail .address-action
{
    margin-top: .3rem;
    padding: .15rem;

    text-align: right;

    border-top: 1px solid #e4e4e4;
}

.baie-address .address-action .baie-icon_chevron-edit
{
    width: .36rem;
    height: .36rem;

    background-image: url(/assets/images/icons/default/icon_chevron_edit.png);
}

.baie-address .address-detail .address-action a
{
    color: #3f3f3f;
}
/* 设置--管理收获地址 end */

/* 设置--编辑收获地址 start */
.baie-address_edit .baie-select
{
    height: .4rem;

    color: #161616;
}
/* 设置--编辑收获地址 end */

/* 设置--登录密码管理 start */
.baie-login_pwd .baie-cells
{
    margin: .3rem 0;
}
/* 设置--登录密码管理 end */

/* 我的头衔 start */
.baie-grade
{
    background: #101010 url('/assets/images/grade_bg.jpg') no-repeat 0 0;
    background-size: 100%;
}
.baie-grade .baie-headbar
{
    color: #fff;
    border-bottom: 0;
    background-color: #322f2c;
}
.baie-grade .baie-grade_content .baie-grade_user
{
    margin: .9rem 0 .5rem;

    text-align: center;
}

.baie-grade_content .baie-grade_user .baie-user_pic
{
    display: inline-block;

    width: 104px;
    height: 104px;
    padding: 7px;

    border: 1px solid #5d2525;
    border-radius: 50%;
}

.baie-grade_content .baie-grade_user .baie-user_pic span
{
    display: block;
    overflow: hidden;

    width: 90px;
    height: 90px;
    margin-top: -1px;
    margin-left: -1px;

    border-radius: 50%;
}

.baie-grade_content .baie-grade_user .baie-user_pic img
{
    width: 100%;
}

.baie-grade_content .baie-grade_user h3
{
    margin-top: .2rem;
    margin-bottom: .2rem;
    font-size: .36rem;
    font-weight: bold;
    color: #fff;
}

.baie-grade_content .baie-grade_user .baie-grade_tag{
    color:#fff;
}
/* 我的头衔 end */
