<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>canvas涂鸦板</title>
    <script>
    (function(a) {
        function c() { var a = f.clientWidth;
            750 < a && (a = 375);
            f.style.fontSize = a / 7.5 + "px";
            d.body.style.fontSize = "12px" }
        var d = a.document,
            f = d.documentElement,
            b = 0,
            e;
        "complete" === d.readyState ? c() : d.addEventListener("DOMContentLoaded", function() { c() }, !1);
        a.addEventListener("resize", function() { clearTimeout(e);
            e = setTimeout(c, 300) }, !1);
        a.addEventListener("pageshow", function(a) { a.persisted && (clearTimeout(e), e = setTimeout(c, 300)) }, !1);
        if (!b) {
            var g = a.navigator.appVersion.match(/iphone/gi);
            a = a.devicePixelRatio;
            b = g ? 3 <= a && (!b || 3 <= b) ? 3 : 2 <= a && (!b || 2 <= b) ? 2 : 1 : 1
        }
        f.setAttribute("data-dpr", b.toString())
    })(window);
    </script>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_h1chj0hsn7ncow29.css">
    <link rel="stylesheet" href="../assets/styles/panel.css">
</head>

<body>
    <div class="main-containner">
        <h1>canvas涂鸦板</h1>
        <div id="canvasDiv"></div>
        <ul class="tools">
            <li><img src="../assets/images/writing-brush.png" alt="选择细画笔"></li>
            <li><img src="../assets/images/pencil.png" alt="选择中画笔"></li>
            <li><img src="../assets/images/chinese-brush.png" alt="选择粗画笔"></li>
            <li><img src="../assets/images/color-panel.png" alt="选择画笔颜色"></li>
            <li><img src="../assets/images/erase.png" alt="清空画板"></li>
        </ul>
    </div>
    <script src="../assets/common/jquery/dist/jquery.min.js"></script>
    <script src="../assets/scripts/panel.js"></script>
</body>

</html>